<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BubbleSort</title>
</head>
<body>
    
    <div>

        <svg width="600" height="300" style="background: #f4f4f4;">
            <g transform="translate(10, 10)"> 
                <rect height="169.75" width="45" style="fill: rgb(173, 216, 230);"></rect>
                <text x="22.5" y="150" text-anchor="middle" fill="black" font-weight="bold">6</text>
            </g>
            <g transform="translate(60, 10)"> 
                <rect height="169.75" width="45" style="fill: rgb(173, 216, 230);"></rect>
                <text x="22.5" y="150" text-anchor="middle" fill="black" font-weight="bold">20</text>
            </g>
            <g transform="translate(120, 10)"> 
                <rect height="169.75" width="45" style="fill: rgb(173, 216, 230);"></rect>
                <text>1</text>
            </g>
            <g transform="translate(180, 10)"> 
                <rect height="169.75" width="45" style="fill: rgb(173, 216, 230);"></rect>
                <text>18</text>
            </g>
        </svg>
        
    </div>




</body>
</html>