<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QuickSort</title>
    <link th:href="@{/output.css}" rel="stylesheet">
</head>
<body>
    
    <div class="flex justify-center items-center h-screen w-screen">

        <!-- input section -->
        <div>
            <label for="array-elements">Enter array elements (separated by coma and space eg. 3, 4, 5): </label>
        <input type="text">
        </div>
    

        <!-- sorting section -->
        <div>
            <svg class="flex justify-center items-center" width="600" height="500" border-blue-500 style="background: #f4f4f4;">
                <g class="self-center">
                    <g transform="translate(10, 440)"> 
                        <rect height="60" width="45" style="fill: rgb(173, 216, 230);"></rect>
                        <text text-anchor="middle" fill="black" font-weight="bold">6</text>
                    </g>
                    <g transform="translate(60, 300)"> 
                        <rect height="200" width="45" style="fill: rgb(173, 216, 230);"></rect>
                        <text text-anchor="middle" fill="black" font-weight="bold">20</text>
                    </g>
                    <g transform="translate(120, 420)"> 
                        <rect height="80" width="45" style="fill: rgb(173, 216, 230);"></rect>
                        <text text-anchor="middle" fill="black" font-weight="bold">8</text>
                    </g>
                    <g transform="translate(180, 320)"> 
                        <rect height="180" width="45" style="fill: rgb(173, 216, 230);"></rect>
                        <text text-anchor="middle" fill="black" font-weight="bold">18</text>
                    </g>
                </g>

            </svg>
            
        </div>

        <div>

        </div>

        
    </div>

    <script>

        const sortButton = document.getElementById("btn");

        sortButton.addEventListener("click", async ()=> {
            const array = [6, 20, 1, 18];

            const response = await fetch("http://localhost:8080/api/sort", {
            method: "POST",
            headers: { "Content-Type": "application/json" },
            body: JSON.stringify({ array: array, algorithm: "bubble" })
            });

            const data = await response.json();
            animateSteps(data.steps);
            }
        );
    
    </script>

</body>
</html>